/**{
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*
}*/

.main{
    display: flex;
    width: 100vw; /*100vw;*/
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("pic2.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
} 
.content h1{
    font-size: 70px;
    font-family: 'Lobster',cursive;;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
    color:#fff;    
}

.content p{
    font-size: 30px;
   /* font-style: italic; */
    font-family: 'Tilt Warp', cursive;
    color: #fff;
}
.content .cn{
    width: 160px;
    height: 40px;
    background:#30ab22;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    /*font-family: 'Roboto Condensed', sans-serif;*/
    font-family: 'Tilt Warp', cursive;
}

.content .cn a{
    text-decoration: none;
    color: #fff;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: #fff;
    font-size: 25px;
    font-family: 'Tilt Warp', cursive;
}

.title {
    display: flex;
    justify-content: center;
    color: #000;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    font-family: 'Tilt Warp', cursive;
}
.content1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

/*              servecies           */
.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}
.card:hover {
    transform: scale(1.1);
}
.card .icon {
    color: #30ab22;
    font-size: 8em;
    text-align: center;
}
.info {
    text-align: center;
}
.info h3{
    color:#000;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.contact .icon{
    font-size: 4.5em;
}

.contact .info h3 {
    color: #000;
}

.contact .info p {
    font-size: 1.5em;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
    text-align: center;
    padding-top: 180px;
}



footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials a{
    text-decoration: none;
    color: #fff;
    margin: 1em;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: #30ab22;
}

/*   about    */
.Sec{
   width:100%;
}
.Sec .cont{
   width:80%;
   display: block;
   margin:0px auto ;
   padding:50px 0px;
}
.content2{
    float:left;
    width:55%;
}
.image-Sec{
    float:right;
    width:40%;
}
.image-Sec img{
   width:100%;
   height: auto;
}

.footer-bottom{
    background:#202020;
    width: 100vw;
    padding: 10px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
    font-size: medium;
    color: #f1ebeb;
}

@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content1 h2{
        font-size: 1em;
    }

    .main-content1 h3{
        font-size: 1.6em;
    }

    .content1{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content1 h2{
        font-size: 0.8em;
    }

    .main-content1 h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
     
    }
}
