<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green Dream Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/style2.css">
    
    
</head>
<body>
    <header class="header">
        <!--navbar-->
        <nav class="navbar navbar-expand-xl navbar-dark fixed-top">
            <div class="container">

                <a class="navbar-brand" href="#">
                    <img src="../static/img/LogoMakr-2.png" alt="Logo" width="100%" height="50" class="d-inline-block align-text-top">
                </a>

              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#services">Services</a>
                    </li>
                    <li class="nav-item">                     
                      <a class="nav-link" href="/neworder">Order</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#contact1">Contacts</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          {% if gender%}
                            <img src="../static/img/profile.png" class="user-avatar-lg" style="border-radius: 50%; cursor: pointer; margin-left: 40px;">
                          {% else %}
                            <img src="../static/img/profile-f.png" class="user-avatar-lg" style="border-radius: 50%; cursor: pointer; margin-left: 40px;">
                          {% endif %}
                        </a>
                        <ul class="dropdown-menu" style="background-color: #212428;">
                            <li><a class="dropdown-item" href="/profile" style="color: #30ab22;">Edit your profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="btn btn-outline-success" href="/logout" role="button" style="color: white; background-color: #30ab22; font-family: 'Tilt Warp', cursive;">Logout</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <p>                 </p>
                    </li>
                </ul>
                  <!-- Nav Item - User Information -->
            </div>
            </div>
        </nav>
</header>
<div class="main">
    <div class="content">
        <h1>Save Your World</h1>
        <p>WELCOME TO GREEN DREAM</p>
        <span>Think smart,Think green!</span>
        <br>
        <br>
       <!--<button class="cn"><a href="registration.html">JOIN US</a></button>--> 
    </div>
</div>
<br>
    <h1 class="title">Services We Offer</h1>
     <!--<div id="carouselExampleIndicators" class="carousel slide" style="background-color: black;">-->
        <!--<div id="carouselExampleIndicators" class="carousel slide" style="background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));">-->
          <div id="carouselExampleIndicators" class="carousel slide">

            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <section class="cards" id="services">
                    <div class="content1">
                        <div class="card">
                            <div class="icon">
                              <ion-icon name="fast-food-outline"></ion-icon>         
                             </div>
                            <div class="info">
                                <h3>Food</h3>
                            </div>
                        </div>
                        <div class="card">
                            <div class="icon">
                              <ion-icon name="document-outline"></ion-icon>  
                        </div>
                            <div class="info">
                                <h3>Papers</h3>
                            </div>
                        </div>
                        <div class="card">
                            <div class="icon">
                              <ion-icon name="bulb-outline"></ion-icon>
                            </div>
                            <div class="info">
                                <h3>Electronics</h3>
                            </div>
                        </div>
                    </div>
                 </section>
                
              </div>
              <div class="carousel-item">
                <section class="cards" id="services">
                    <div class="content1">
                        <div class="card">
                            <div class="icon">
                              <img src="../static/img/icons8-old-phone-64.png"  height="130" width="130">
                            </div>
                            <div class="info">
                                <h3>Antiques</h3>
                            </div>
                        </div>
                        <div class="card">
                            <div class="icon">
                              <ion-icon name="home-outline"></ion-icon>              
                            </div>
                            <div class="info">
                                <h3>Housewares</h3>
                            </div>
                        </div>
                        <div class="card">
                            <div class="icon">
                             <!--<ion-icon name="wine-outline"></ion-icon>-->
                             <img src="../static/img/icons8-plastic-100.png"  height="150" width="150">
                            </div>
                            <div class="info">
                                <h3>Plastic</h3>
                            </div>
                        </div>
                    </div>
                 </section>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
      
      
 
<!--<section class="cards contact" id="contact1">
    <h1 class="title">Let's Work Together</h1>
    <div class="content1">
        <div class="card">
            <div class="icon">
                <i class="fas fa-phone"></i>
            </div>
            <div class="info">
                <h3>Phone</h3>
                <p>+20122222222</p>
            </div>
        </div>
        <div class="card">
            <div class="icon">
                <i class="fas fa-envelope"></i>
            </div>
            <div class="info">
                <h3>Email</h3>
                <p>business@sol.com</p>
            </div>
        </div>
    </div>
</section>-->
<br><br><br><br><br><br>

<!-- Start Footer -->
<footer>
    <div class="footer-content">
      <p>Green Dream is an online platform that promotes responsible waste management by providing an easy and convenient way to schedule waste and food waste collection for individuals, households, restaurants, or any organization.</p>
        <p>Follow GreenDream on social media networks</p>
        <ul class="socials">
            <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-linkedin-square"></i></a>
        </ul>
    </div>
    <div class="footer-bottom">
        <br>
        <p data-v-198a2833="" class="copyrights text-xs-center">
            &copy; 2023, <span> GreenDream </span>
       </p>
    </div>
</footer>
   <!-- End Footer -->
<script defer src="../static/js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
<script type="text/javascript">
     var nav = document.querySelector('nav');

     window.addEventListener('scroll', function () {
       if (window.pageYOffset > 100) {
         nav.classList.add('bg-dark', 'shadow');
       } else {
         nav.classList.remove('bg-dark', 'shadow');
       }
     });
   </script>
</body>
</html>