<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green Dream</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static//css/style2.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
</head>
<body>

    <header class="header">
        <!--navbar-->
        <nav class="navbar navbar-dark fixed-top">
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="../static/img/LogoMakr-2.png" alt="Logo" width="100%" height="50" class="d-inline-block align-text-top">
                
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel" style="color: #30ab22; font-family: 'Lobster',cursive;">Green Dream</h5>
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#About">About</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#contact1">Contacts</a>
                    </li>
                    <br>
                    <li class="nav-item">
                      <a class="btn btn-outline-success" href="/login" role="button" style="color: white; background-color: #30ab22; font-family: 'Tilt Warp', cursive;">Login</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
</header>
    <!-- End Header -->

    <div class="main">
        <div class="content">
            <h1>Save Your World</h1>
            <p>WELCOME TO GREEN DREAM</p>
            <span>Think smart,Think green!</span>
            <br>
            <br>
           <button class="cn"><a href="/register">JOIN US</a></button> 
        </div>
    </div>
    <br>
    <section class="cards" id="services">
        <br>
        <h2 class="title">How to use our website? </h2>
        <div class="content1">
            <div class="card">
                <div class="icon">
                  <ion-icon name="car-sport-outline"></ion-icon>
                </div>
                <div class="info">
                    <h3>Send The Request</h3>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                  <ion-icon name="desktop-outline"></ion-icon>               
                 </div>
                <div class="info">
                    <h3>Create Your Account</h3>
                </div>
            </div>
        </div>
     </section>
     <br>


    <section class="cards contact" id="contact1">
        <h2 class="title">Let's Work Together</h2>
        <div class="content1">
            <div class="card">
                <div class="icon">
                    <i class="fas fa-phone"></i>
                </div>
                <div class="info">
                    <h3>Phone</h3>
                    <p>01026386402</p>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                    <i class="fas fa-envelope"></i>
                </div>
                <div class="info">
                    <h3>Email</h3>
                    <p>GreenDream@gmail.com</p>
                </div>
            </div>
        </div>
    </section>

     <!--          About        -->
    <div class="Sec" id="About">
        <div class="cont">
           <div class="title">
            <h2>About Us</h2>
           </div>
           <div class="content2">
             <div class="article">
                <h3>We are some pioneers who are keen on the environment and this website is for waste in general.</h3>
                <h3>It was created to help people get rid of their waste rapidly and safely for the sake of you and the environment.</h3>
             </div>
           </div>
           <div class="image-Sec">
            <img src="../static/img/pic3.jpg">
           </div>

        </div>
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br>

    <!-- Start Footer -->
    <footer>
        <div class="footer-content">
            
            <p>Follow GreenDream on social media networks</p>
            <ul class="socials">
            	<a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            	<a href="#"><i class="fa fa-twitter"></i></a>
            	<a href="#"><i class="fa fa-instagram"></i></a>
            	<a href="#"><i class="fa fa-linkedin-square"></i></a>
            </ul>
        </div>
        <div class="footer-bottom">
            <br>
            <p data-v-198a2833="" class="copyrights text-xs-center">
                &copy; 2023, <span> GreenDream </span>
           </p>
        </div>
    </footer>
       <!-- End Footer -->
    <script defer src="../static/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script type="text/javascript">
         var nav = document.querySelector('nav');
   
         window.addEventListener('scroll', function () {
           if (window.pageYOffset > 100) {
             nav.classList.add('bg-dark', 'shadow');
           } else {
             nav.classList.remove('bg-dark', 'shadow');
           }
         });
       </script>
</body>
</html>